
:root {
    --color1:rgb(26,47,37);
    --color2:rgb(86,125,117);
    --color3:rgb(0,91,69);
    --color4:rgb(229,218,204);
    --color5:rgba(229, 218, 204, 0.804);
    --color6:rgb(49,42,35);
    --color7:rgb(0,0,0);
    --color8:rgb(255,255,255);
    --font-family1: "Lucida Calligraphy" , Lucida, Times;
}

/* header {

    /* height: 20px; 
} 
*/

nav{
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
}

img{
    height: 60px;
}

nav > * {
    display: flex; 
}

nav div{
    font-family: var(--font-family1);
}

#tapLogo{
    height: fit-content;
}

#tapLogo:hover{
    background-color: var(--color5);
}

#links{
    align-items: center;
    width: 50%;
    justify-content: space-around;
    font-weight: bold;
}

#links div > *{
    text-decoration: none;
    color: var(--color3);
}

#links div:hover > *{
    color: var(--color2);
}